<div style="margin: 0 5%;;background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,170,237,0.6334908963585435) 0%);">
  <div class="row" style="padding: 5%;margin-top: 1%;">
    <div class="col align-self-start">
      <a href="https://wall.alphacoders.com/big.php?i=541596"><img
          style=" border: 1% solid white; height: 100%;width:90%;"
          src="https://images7.alphacoders.com/541/541596.jpg"></a>
    </div>
    <div class="col align-self-center">
    </div>
    <div class="col align-self-end">
    </div>
  </div>
  <div class="row" style="padding: 5%;margin-top: -20%;">
    <div class=" col align-self-start">
    </div>
    <div class="col align-self-center">
      <a href="https://wall.alphacoders.com/big.php?i=661419"><img
          style="border: 1% solid white; height: 100%;width:90%;" src="../../../assets/images/3.jpg"></a>
    </div>
    <div class="col align-self-end">
    </div>
  </div>
  <div class="row" style="padding: 5%;margin-top: -20%;">
    <div class=" col align-self-start">
    </div>
    <div class="col align-self-center">
    </div>
    <div class="col align-self-end">
      <a href="https://wall.alphacoders.com/big.php?i=661419"><img
          style=" height: 100%;width:90%;border: 1% solid white;" src="../../../assets/images/subway.jpg"></a>
    </div>
  </div>
</div>
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
        <p><br><br>Kết nối giao thông Hà Nội
          <br> Phát triển bền vững kinh tế, chính trị, văn hóa cho tương lai
          <br>Vì một tương lai không ô nhiễm đô thị
        </p>
      </div>
    </div>
  </div>
</section>