<div
  style="margin: 0 5%;background: rgb(182,177,246);
background: linear-gradient(90deg, rgba(182,177,246,1) 0%, rgba(222,222,240,1) 35%, rgba(220,236,240,1) 100%); padding: 2%;">
  <div class="row" style="padding: 5%;margin-top: 1%;">
    <div class="col align-self-start">
      <a style="color: black;text-decoration: none;"><img style=" border: 1% solid white; height: 100%;width:100%;"
          src="https://images7.alphacoders.com/541/541596.jpg">
        Đêm không ngủ của cán bộ đường sắt Hà Nội.
      </a>
      <a style="font-size: 12px; padding: 2%;"> Bạn đã bao giờ ngắm thành phố về đêm chưa? Hà nội thật yên bình tĩnh
        lặng chìm trong giấc ngủ và hiện diện trên đường phố lúc này là những người đang góp phần làm sạch môi trường,
        những người cán bộ thợ kỹ thuật đô thị. Có những mảnh đời thức để cho
        chúng ta được ngon giấc. Hôm nay,
        chúng tôi được theo chân những người duy trì sự lưu thông hoàn hảo của những chuyến tàu điện.</a>
    </div>
    <div class="col align-self-center">
    </div>
    <div class="col align-self-end">
    </div>
  </div>
  <div class="row" style="padding: 5%;margin-top: -40%;">
    <div class=" col align-self-start">
    </div>
    <div class="col align-self-center">
      <a style="color: black;text-decoration: none; display: block;"><img
          style="border: 1% solid white; height: 100%;width:100%;" src="../../../assets/images/3.jpg">
        Grafity đường phố
      </a>
      <a style="font-size: 12px; padding: 2%;">Grafity là một môn nghệ thuật phổ biến trên khắp thế giới. Những nghệ
        nhân biến những bức tường, những cây cột vô tri biết nói. Chủ trương của Thành phố cho phép những nghệ sỹ
        Grafity xây dựng nhà ga biết thổ lộ, ngay trên những tường ga là các tác phẩm nói về cuộc sống chân thực, giản
        đơn và đầy màu săc với bao tâm huyết của các thế hệ đi trước</a>
    </div>
    <div class="col align-self-end">
    </div>
  </div>
  <div class="row" style="padding: 5%;margin-top: -40%;">
    <div class=" col align-self-start">

    </div>
    <div class="col align-self-center">
    </div>
    <div class="col align-self-end">
      <a style="color: black;text-decoration: none; display: block;">
        Quy hoạch quảng cáo đô thị
      </a>
      <a style="font-size: 12px; padding: 2%;margin-bottom: 5%;">Quy hoạch phát triển quảng cáo đô thị được hoạch định
        lại và các nhà ga
        góp phần không nhỏ vào doanh thu của thành phố</a>
      <a href="https://wall.alphacoders.com/big.php?i=661419"><img
          style=" height: 100%;width:100%;border: 1% solid white;" src="../../../assets/images/subway.jpg"></a>
    </div>
  </div>
</div>
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
        <p><br><br>Kết nối giao thông Hà Nội
          <br> Phát triển bền vững kinh tế, chính trị, văn hóa cho tương lai
          <br>Vì một tương lai không ô nhiễm đô thị
        </p>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=1500 size="small" speed="10" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-bar-chart"></i>

      <p>Tăng lượng hành khách sử dụng vé tháng tàu điện công cộng thành phố</p>
      <h3>Lượt đăng ký</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=100 size="small" color="white" speed="10" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-calendar-check-o"></i>

      <p>Duy trì tỉ lệ chạy đúng giờ cho các tàu, nhất là giờ cao điểm</p>
      <h3>Chạy đúng giờ</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInDown" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=600 size="small" speed="10" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-cogs"></i>

      <p>Số lái tàu đào tạo chuyên môn cao luôn đáp ứng nhu cầu cho hệ thống </p>
      <h3>Vận hành tốt</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInRight" data-wow-duration="2s" data-wow-delay="300ms">

    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=1200 size="small" speed="1" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-male">
      </i>

      <p>Phục vụ tổng số hành khách mỗi ngày trung bình 12000 lượt khách/mỗi tàu</p>
      <h3>Lưu lượng khách</h3>
    </div>
  </div>
</div>
<a style="font-weight: inherit;">Các tuyến tàu điện chính Hà Nội</a>
<iframe style="margin: 5% 2%;"
  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14896.098622893422!2d105.84143963988559!3d21.03169944351326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1578733492165!5m2!1sen!2s"
  width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>