<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
        <p><br><br>Kết nối giao thông Hà Nội
          <br> Phát triển bền vững kinh tế, chính trị, văn hóa cho tương lai
          <br>Vì một tương lai không ô nhiễm đô thị
        </p>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=150 size="small" speed="10" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-cloud-upload"></i>

      <p>Tăng lượng hành khách sử dụng vé tháng tàu điện công cộng thành phố</p>
      <h3>Lượt đăng ký</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=100 size="small" color="white" speed="10" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-check"></i>

      <p>Duy trì tỉ lệ chạy đúng giờ cho các tàu, nhất là giờ cao điểm</p>
      <h3>Chạy đúng giờ</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInDown" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=60 size="small" speed="10" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-code"></i>

      <p>Số lái tàu đào tạo chuyên môn cao luôn đáp ứng nhu cầu cho hệ thống </p>
      <h3>Vận hành tốt</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInRight" data-wow-duration="2s" data-wow-delay="300ms">

    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=1200 size="small" speed="1" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-male">
      </i>

      <p>Phục vụ tổng số hành khách mỗi ngày trung bình 12000 lượt khách/mỗi tàu</p>
      <h3>Lưu lượng khách</h3>
    </div>
  </div>
</div>